
<div class="general-head">
  Добро пожаловать в гостиную живописи!
</div>
<div class=general-technics>
  Живопись и графика - это не только виды изобразительного искусства, способ самовыражения или попытка поделиться своим взглядом на предметы и явления нашего мира. Это еще и прекрасный способ украсить любой интерьер, создать  неповторимую атмосферу и наполнить окружающее пространство теплотой и эмоциями. На данном сайте представлены работы, выполненные в различных техниках от акварели до граттажа, предлагающие зрителю обширную палитру сюжетов. Создавайте настроение вместе с нами!
</div>
