<div class="my_show clearfix">
  <div class="text_show">
    <p><%= @exhibition.name %></p>
    <p><%= @exhibition.description %></p>
    <p><%= money_without_cents_and_with_symbol @exhibition.price %></p>
  </div>
  <div class="picture_show">
    <%= image_tag @exhibition.picture_url(:big), :class => "img" %>
  </div>
</div>
