<div class="my">
  <div class="picture">
<%= image_tag @exhibition.picture_url, :class => "img1" %>
  </div>
<div class="text">
<p><%= @exhibition.name %></p>
<p><%= @exhibition.description %></p>
</div>
</div>
